<md-dialog >
  <md-content class="">
    <div class="dialog-content" >
      <p>Social media has become one of the biggest forms of networking in today’s world. Billions of people use it daily for things ranging from sharing an event to reading the world’s news. Since social media is changing so rapidly, it can be hard for people to find an application that delivers accurate statistics about them, and the few that do provide those statistics, only provide general statistics and nothing related to your own account.
  	The application Twister is be a web based application which will use Twitter’s API to provide visual and personal statistics about a tweet.  According to Tweeter, people send more than 500 million Tweets per day, which makes Twitter the best data source for this application. When users are in the application, they have to option of viewing statistics about a specific topic, based on location, age, timestamp and much more.
  	A really unique feature in Twister is that users will also have the ability to login with their personal Twitter account and see visual statistics about the Tweets they uploaded. These statistics will include time they are most likely to post something, and how often they post something compared to people in the same location and/or age group. Twister users will also have the ability to compare their statistics to the statistics of the people they are following.
    <p>
    </div>
  </md-content>
  <div class="md-actions" layout="column">
    <span flex></span>
    <md-button ng-click="answer('')" class="md-primary">
      Close
    </md-button>
  </div>
</md-dialog>
