<md-dialog style="width:60%" >
  <md-content layout-padding >
    <div class="dialog-content" >
      <div layout="column" layout-align="center center">
        <img style="max-width: 150px;" alt="twitter logo" src="https://cdn1.iconfinder.com/data/icons/simple-icons/4096/twitter-4096-black.png">
        <h4 style="text-align:center; margin-top:-20px">PLEASE LOGIN USING<br> YOUR TWITTER CREDENTIALS</h4>
      </div>
      <div flex="50">
        <md-input-container md-no-float layout-padding layout="row">
          <ng-md-icon icon="person" style="fill: blue" size="32"></ng-md-icon>
          <input ng-model="user.email" type="email" placeholder="Email" ng-required="true">
        </md-input-container>


        <md-input-container md-no-float layout-padding layout="row">
          <ng-md-icon icon="lock" style="fill: red" size="32"></ng-md-icon>
          <input ng-model="user.password" type="password" placeholder="Password" ng-required="true">
        </md-input-container>
      </div>
    </div>
  </md-content>
  <div class="md-actions" layout="column">
    <span flex></span>
    <md-button ng-click="answer('')" class="md-primary">
      LOGIN
    </md-button>
  </div>
</md-dialog>
