<toolbar></toolbar>
<md-content class="middle" layout="column" layout-margin>
  <form ng-submit="search()">
    <md-text-float label="Seach #hashtag or @handle" class="long" ng-model="user_search"></md-text-float>
  </form>
</md-content>
<calendar></calendar>

<div layout="row" layout-sm="column">
  <md-card  class="middle">
    <img src="http://placehold.it/600x400" class="md-card-image" alt="" />
    <h3>Title</h3>
  </md-card>
  <md-card  class="middle">
    <img src="http://placehold.it/600x400" class="md-card-image" alt="" />
    <h3>Title</h3>
  </md-card>
</div>
<div layout="row" layout-sm="column">
  <md-card  class="middle">
    <img src="http://placehold.it/600x400" class="md-card-image" alt="" />
    <h3>Title</h3>
  </md-card>
  <md-card  class="middle">
    <img src="http://placehold.it/600x400" class="md-card-image" alt="" />
    <h3>Title</h3>
  </md-card>

</div>
